div.touch {
  height: 80vh;
  touch-action: none;
  border-bottom: 1px solid var(--bs-border-color);
}

div.paddle {
  background-color: #333;
  border: 2px solid #aaa;
  border-radius: 8px;
  height: 25%;
  width: 50px;
  margin: auto;
}